  <li>
  <%= post.poster == "" || !post.poster ? 'Noname':post.poster %>
  <p><%= post.body %></p>
  <div>
    <% post.comments.each do |c| %>
    <ul>
      <li><%= c.body %></li>
    </ul>
    <% end %>
  </div>
  </li>

