<h1>Post#index</h1>
<a href="#newpost" data-toggle="modal" onclick="">New Post</a>

<div id="newpost" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>New Post</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
    <div id="newpost-form">
    <%= render "form" %>
    </div>
  </div>
</div>

<div id="newreply" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>New Reply</h3>
  </div>
  <div class="modal-body">
    <div id="newreply-form">
    <%= render "reply_form" %>
    </div>
  </div>
</div>


<div id="posts">
  <%= render @posts %>
</div>
